#include "resource.h"

#include "curt/include_windows.h"

#include <commctrl.h>


// Main dialog

IDD_MAIN_VIEW DIALOGEX 0, 0, 317, 145
STYLE DS_CENTER | DS_SHELLFONT | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "dialog example"
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "", IDC_TAB, WC_TABCONTROL, WS_TABSTOP, 7, 7, 303, 131
  LTEXT "", IDC_SUB_DIALOG_SIZER, 0, 0, 317, 124, NOT WS_VISIBLE
END


// Slider sub dialog

IDD_SLIDER_VIEW DIALOGEX 0, 0, 317, 124
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Colour distribution", IDC_STATIC, 7, 7, 152, 110
  LTEXT "&Red:", IDC_STATIC, 13, 18, 20, 8, SS_LEFT
  CONTROL "", IDC_RED_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 13, 29, 120, 15
  LTEXT "90%", IDC_RED_TEXT, 136, 29, 20, 15, SS_LEFT | SS_CENTERIMAGE
  LTEXT "&Green:", IDC_STATIC, 13, 51, 26, 8, SS_LEFT
  CONTROL "", IDC_GREEN_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 13, 62, 120, 15
  LTEXT "90%", IDC_GREEN_TEXT, 136, 62, 20, 15, SS_LEFT | SS_CENTERIMAGE
  LTEXT "&Blue:", IDC_STATIC, 13, 84, 19, 8, SS_LEFT
  CONTROL "", IDC_BLUE_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 13, 95, 120, 15
  LTEXT "90%", IDC_BLUE_TEXT, 136, 95, 20, 15, SS_LEFT | SS_CENTERIMAGE
  GROUPBOX "Visualisation", IDC_STATIC, 166, 7, 144, 110
  LTEXT "", IDC_GRAPH, 171, 18, 132, 92
END



// String table

STRINGTABLE
BEGIN
  IDS_APP_TITLE "dialog example"
END
