#include "resource.h"

#include "curt/include_windows.h"

#include <commctrl.h>


// Main dialog

IDD_MAIN_VIEW DIALOGEX 0, 0, 317, 141
STYLE DS_CENTER | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "dialog example"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Colour distribution", IDC_STATIC, 7, 7, 152, 106
  LTEXT "&Red:", IDC_STATIC, 13, 18, 20, 8, SS_LEFT
  CONTROL "", IDC_STATIC, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 13, 29, 120, 15
  LTEXT "90%", IDC_STATIC, 136, 29, 20, 15, SS_LEFT | SS_CENTERIMAGE
  LTEXT "&Green:", IDC_STATIC, 13, 51, 26, 8, SS_LEFT
  CONTROL "", IDC_STATIC, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 13, 62, 120, 15
  LTEXT "90%", IDC_STATIC, 136, 62, 20, 15, SS_LEFT | SS_CENTERIMAGE
  LTEXT "&Blue:", IDC_STATIC, 13, 80, 19, 8, SS_LEFT
  CONTROL "", IDC_STATIC, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 13, 91, 120, 15
  LTEXT "90%", IDC_STATIC, 136, 91, 20, 15, SS_LEFT | SS_CENTERIMAGE
  GROUPBOX "Visualisation", IDC_STATIC, 166, 7, 144, 106
  PUSHBUTTON "&Close", IDCANCEL, 260, 120, 50, 14
END



// String table

STRINGTABLE
BEGIN
  IDS_APP_TITLE "dialog example"
END
