#include "resource.h"

#include "curt/include_windows.h"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE 9, 1


// Strings

STRINGTABLE
BEGIN
  IDS_APP_TITLE "dialog example"
END

#endif
